@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.container, .container-genero {
    width: 80%; 
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    border: solid 1px rgb(161, 156, 156);
    margin: 0 auto;
    margin-bottom: 8px;
}
.tag-container, .tag-container-genero{
    padding: 2px;
    display: flex;
    
}

.tag-container .tag, .tag-container-genero .tagGenero {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.tag i, .tagGenero i{
    font-size: 16px;
    margin-left: 5px;
}

.tag-container input, .tag-container-genero input{
    flex:1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 0;
}

.material-icons:hover{
    cursor: pointer;
}




*{
    font-family: 'Epilogue', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #EEE;
}

.cabecalho{
    background-color: rgb(197, 182, 182);
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(128, 124, 124, 0.77);
}

.cabecalho p{
    margin-top: 30px;
}

.entrar{
    text-align: end;
    padding-right: 20px;
}

.login{
    text-decoration: none;
    color: white;
    padding-left: 12px;
}

.login:hover, .login:focus{
    color: rgb(27, 27, 117);
    font-weight: bold;
}

/* POP UP - CADASTRAR LOGIN */
/* The Modal (background) */
.modal, .modalLogin, .modalMovie {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content, .modal-contentLogin, .modal-contentMovie{
background-color: white;
margin: auto;
margin-bottom: 100px;
width: 30%;
border-radius: 15px;
}

.modal-contentMovie{
    padding-bottom: 15px;
}

.modalMovie{
    padding-top: 50px;
}

.modal-contentMovie{
    height: 485px;
    overflow-y: auto;
    padding-top: 25px ;
}


.close, .closeLogin, .closeMovie {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus, .closeLogin:hover, .closeLogin:focus, .closeMovie:hover, .closeMovie:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.userRegisterForm{
    text-align: center;
    font-weight: bold;
    background-color:#EEE;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 12px;
}

input, textarea, select{
    border-radius: 4px;
    padding: 5px;
    border: solid 1px rgb(161, 156, 156);
    outline: none;
    margin-bottom: 9px;
}

.userRegisterForm input{
    /* margin: 10px 0 10px 0; */
    width: 70%; 
    outline: none;
}

.titulocadastro{
    background-color: rgb(197, 182, 182);
    padding-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 15px 15px 0 0;
}

.btn{
    background-color: rgb(86, 86, 248);
    border-radius: 5px;
    color: white;
    padding: 7px;
}

.addPrimeiroFilme{
    text-align: center;
}

.btn-addFilme{
    margin-bottom: 12px;
}

.movieItemRegister{
    text-align: center;
    color: rgb(38, 38, 90);
    font-weight: bold;
}

.movieItemRegister input, .movieItemRegister textarea, .movieItemRegister select{
    width: 80%;
    /* margin: 10px 0 10px 0; */
    outline: none;
}

.btn-addFilme{
    margin-top: 20px;
}

.btn:hover, .btn:focus{
    background-color: rgb(27, 27, 117);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(128, 124, 124, 0.77);
}

.card-movieItem{
    width: 22%;
    /* height: 480px; */
    text-align: center;
    margin: 0 auto; /*alterar para flexbox*/
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 9px 7px 5px rgba(128, 124, 124, 0.77);
}

.card-movieItem img{
    width: 100%;
}

.atualizacao{
    font-size: 12px;
    text-align: end;
    font-style: italic;
}

.testCard h2{
    margin: 10px;
}

.year{
    font-size: 16px;
}

.movieDescription{
    text-align: justify;
    font-size: 14px;
}

.genre{
    font-family: cursive;
}

.genre a{
    text-decoration: none;
    color: black;
}

.genre a:hover{
    color: rgb(27, 27, 117);
    font-weight: bold;
}

.grade{
    font-weight: bold;
}

.coments{
    display: inline;
    font-size: 15px;
    color: rgb(0, 132, 255);  
}

.plus{
    width: 13px!important;
    padding-right: 10px;
    margin: 0;
}

.card-movieItem p{
    margin-top: 6px;
    margin-bottom: 5px;
}



@media screen and (max-width: 1030px ) {
    .cabecalho{
        width: 55%;
    }
    .entrar{
        text-align: center;
        font-size: 1.3em;
    } 
    .movieItemRegister{
        width: 100%;
    }
    .card-movieItem{
        width: 60%;;
    }

    .entrar{
        margin-bottom: 15px;
    }

    .modal-content{
        width: 60%;
    }

    .modal-contentMovie{
        width: 50%;
    }
   

}

    

@media screen and (max-width: 550px ) {
    .cabecalho{
        width: 75%;
    }
    .entrar{
        text-align: center;
        font-size: 1.3em;
    } 
    .movieItemRegister{
        width: 100%;
        
    }
    .card-movieItem{
        width: 80%;
        
    }

    .entrar{
        margin-bottom: 15px;
    }

    .modal-content{
        width: 70%;
    }

    .modal-contentMovie{
        width: 60%;
    }

   
}