.quadrado{
    background-color: blue;
    height: 100px;
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
}


.retangulo{
    background-color: blue;
    height: 100px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}